@import "tailwindcss";
@import "tailwindcss/utilities";

@import "./style/fonts.css";
@import "./style/text-color.css";

@theme {
  --color-primary: #e4eadc;
  --color-debaten: #1d3f33;
  --color-hover: #1d3f33;
  --color-featured: #323232;
  --color-footer: #1d3f33;

  --color-hover: #1d3f33;
  --color-hover-footer: #72c183;

  --color-green: rgba(29, 63, 51, 1);
  --color-body: rgba(29, 63, 51, 1);
  --color-debate: rgb(234, 230, 220);
  --color-footer-body: rgb(234, 230, 220);
}

:root {
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
}

.clip-path-left {
  -webkit-clip-path: polygon(
    92.367% 89.427%,
    90.732% 73.794%,
    90.732% 73.794%,
    90.067% 69.717%,
    89.064% 65.979%,
    87.745% 62.613%,
    86.134% 59.654%,
    84.252% 57.134%,
    82.12% 55.088%,
    79.762% 53.55%,
    77.198% 52.553%,
    74.452% 52.131%,
    71.545% 52.318%,
    99.998% 0%,
    0% 0%,
    0% 100%,
    100% 100%,
    100% 99.963%,
    100% 99.963%,
    98.696% 99.837%,
    97.535% 99.574%,
    96.509% 99.147%,
    95.609% 98.531%,
    94.826% 97.701%,
    94.151% 96.63%,
    93.577% 95.293%,
    93.094% 93.664%,
    92.694% 91.717%,
    92.367% 89.427%
  );

  clip-path: polygon(
    92.367% 89.427%,
    90.732% 73.794%,
    90.732% 73.794%,
    90.067% 69.717%,
    89.064% 65.979%,
    87.745% 62.613%,
    86.134% 59.654%,
    84.252% 57.134%,
    82.12% 55.088%,
    79.762% 53.55%,
    77.198% 52.553%,
    74.452% 52.131%,
    71.545% 52.318%,
    99.998% 0%,
    0% 0%,
    0% 100%,
    100% 100%,
    100% 99.963%,
    100% 99.963%,
    98.696% 99.837%,
    97.535% 99.574%,
    96.509% 99.147%,
    95.609% 98.531%,
    94.826% 97.701%,
    94.151% 96.63%,
    93.577% 95.293%,
    93.094% 93.664%,
    92.694% 91.717%,
    92.367% 89.427%
  );
}
