@import "tailwindcss";
@import "tailwindcss/utilities";

@import "./style/color-section.css";
@import "./style/fonts.css";
@import "./style/text-color.css";

:root {
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
}

.text-heading-primary {
  color: var(--heading-text);
}

.text-content {
  color: var(--color-text);
}

.text-debate {
  color: var(--debate-text);
}

.text-featured {
  color: var(--featured-text);
}
